#root {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  place-content: center;
}

.content-section {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: clamp(var(--min-width), 100%, var(--max-width));
}